.prompt-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.unselectable {
    user-select: none;
    -webkit-user-select: none; /* For Safari */
    -moz-user-select: none; /* For Firefox */
    -ms-user-select: none; /* For Internet Explorer/Edge */
}

.custom-icon {
    width: 36px;
    height: 36px;
    background-color: #303030; /* blue, change as needed */
    border-radius: 50%; /* makes it circular */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.custom-icon:hover {
    background-color: #424242;
}
